.loading{
    color: rgb(129, 129, 129) !important;
    border: 3px solid rgb(145, 145, 145) !important ;
    margin-top: 300px!important;
    padding-left: 150px !important;
    padding-right: 150px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
   
}